# Criar e liberar pastas
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Outros arquivos e pastas
.settings/

# Executáveis
*.swf
*.air
*.ipa
*.apk

# Arquivos de projetos, i.e. `.project`, `.actionScriptProperties` e `.flexProperties`
# não devem ser exluídos porque eles contém configuraçoes do compilador e outras informações
# importantes para Eclipse / Flash Builder.
